{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col block">
            This page does not yet exist
        </div>
    </div>
{% endblock %}
