body {
    background-color: #009900;
}

.sidebar-header {
    font-size: 1.25em;
    font-weight: bold;
}

.sidebar-item a {
    text-decoration: none;
}

.block {
    background-color: #ffffff;
    border-radius: 1em;
}


.center-block {
    height: 300px;
    margin-top: calc(50% - 500px);
}

#flash-container {
    position: fixed;
    top: 25px;
    right: 50px;
}

.alert {
    position: relative;
    top: 25px;
    right: 50px;
    width: 400px;
    border: 2px solid black;
}

div.disabled a {
    color: #999999;
}