<div class="block">
    <h3>Welcome!</h3>
    <p>
        You are probably here to start an dealership application.  If you look over to your left, you'll see a menu item to do just that.
    </p>
    <p>
        Good luck!
    </p>
</div>
