<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_mailaddress" aria-labelledby="offcanvas_mailaddress_label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-mailaddress_title" id="offcanvas_mailaddress_label">Add a Mailing Address</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body col">
            {{ form_start(mailaddressForm) }}
            {{  form_end(mailaddressForm) }}
        <button class="mailaddress_ajax_submit btn btn-primary"><i class="fas fa-envelope"></i> Add Address</button>
    </div>
</div>