{% extends 'base.html.twig' %}

{% block title %}Table Types{% endblock %}

{% block body %}
    <div class="block col p-3" id="">
        <div class="row mb-3">
            <div class="col">
                <h3>Table Types</h3>
            </div>
        </div>
        {{ form_start(tableTypeForm)}}





        {{ form_end(tableTypeForm)}}
</div>

{% endblock %}