{% extends 'base.html.twig' %}

{% block title %}Types of Tables{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Table types list</h1>

    Here are all of the different types of tables defined in your vending space:
    <ul>
        #for each entry in the TableType table{
        <li>Load the entry. Include an Edit button.</li>
        #}
    </ul>
</div>
{% endblock %}
