{% extends 'base.html.twig' %}

{% block title %}This page is blank{% endblock %}

{% block body %}
    <div class="block col p-3" id="">
        <div class="row mb-3">
            <div class="col">
                <h3>Intentional Blank</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>This page has not been completed and has been intentionally left blank as a placeholder.</p>
                <p>If you see this page in a production environment, please contact the repository maintainer and let them know.</p>
                <p><a href="https://github.com/clickthulu/vendhound/" target="_blank">VendHound on GitHub</a></p>

            </div>
        </div>
    </div>
{% endblock %}